<h2>Question:</h2>
<h3><%= @question.title %></h3>	
<p><%= @question.text %></p>
<form method="post" action='/questions/<%= @question.id  %>/votes'>
	<button type="submit">Up</button>
	<%= @question.votes.count %>
	<button type="submit">Down</button>
</form>

<% if current_user %>

	<a href="/questions/<%= @question.id%>/edit">Edit</a>
<% end %>

<!-- Delete button -->

<% if current_user %>
	<form id="Delete question" action="/questions/<%= @question.id%>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
<% end %>
<br>

<!-- comments for the question -->
<p><b>Question comments:</b></p>
<% @question.comments.each do |comment| %>
	<ul>
		<form method="post" action='/questions/<%= @question.id  %>/comment/<%= comment.id  %>/votes'>
			<button type="submit">Up</button>
			<%= comment.votes.count %>
		<button type="submit">Down</button>
		</form>

		<li><%= comment.text %></li>

		<% if current_user %>
		<form id="Delete question comment" action="/questions/<%= @question.id%>/comment/<%= comment.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form>
		<% end %>
	</ul>
<% end %>

<% if current_user %>
	<form id="Question-comments" action="/questions/<%= @question.id %>" method="post">
		<p>Comment:</p>
		<textarea name="comment[text]"></textarea><br>
		<input type="submit" value="Comment">
	</form>
<% end %>
<br>
<br>

<h2>Answers</h2>
<!-- put the answers for the question -->
<div id="answer-list">
	<% @answers.each do |answer| %>
		<%= erb :"partials/_answer_list", locals: {answer: answer}, layout: false %>
	<% end %>
</div>

<% if current_user %>
		<form id="Answers" action="/questions/<%= @question.id %>/answers" method="post">
			<p>Answer:</p>
			<textarea id="answer-text" name="answer[text]"></textarea><br>
			<input id="button" type="submit" value="Post">
		</form>
	<% end %>
