
<h3><%= @question.title %></h3>
<p><%= @question.text %></p>	

<!-- comments for the question -->
<form id="Question-comments" action="/questions/<%= @question.id %>" method="post">
	<p>Comment:</p>
	<textarea name="comment[text]"></textarea><br>
	<input type="submit" value="Comment">
</form>

<% @question.comments.each do |comment| %>
	<ul>
		<li><%= comment.text %></li>
	</ul>
<% end %>

<a href="/questions/<%= @question.id%>/edit">Edit</a>

<!-- Delete button -->
<form id="Delete question" action="/questions/<%= @question.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>
<br>
<br>

<!-- put the answers for the question -->
<form id="Answers" action="/questions/<%= @question.id %>" method="post">
	<p>Answer:</p>
	<textarea name="answer[text]"></textarea><br>
	<input type="submit" value="Post">
</form>

<% @answers.each do |answer| %>
	<ul>
		<li><%= answer.text %></li>
		<!-- list of the comments -->
		<% answer.comments.each do |comment| %>
			<ul>
				<li><%= comment.text %></li>
			</ul>
		<% end %>
		<!-- comments for the answer -->
		<form id="Answer-comments" action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="post">
			<p>Comment:</p>
			<textarea name="comment[text]"></textarea><br>
			<input type="submit" value="Comment">
		</form>	

		
				
	</ul>
<% end %>
