
<h3><%= @question.title %></h3>
<p><%= @question.text %></p>	

<a href="/questions/<%= @question.id%>/edit">Edit</a>

<!-- Delete button -->
<form action="/questions/<%= @question.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>

<!-- put the answers for the question -->


<% @answers.each do |answer| %>
		<p><%= answer.text %></p>
<% end %>
